@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,100&display=swap');
.content {
    color: white;
    .tasks {
        padding: 10px;
        h2 {
            color: #F39C12;
            font-family: 'Roboto', sans-serif;
            font-size: large;
            font-weight: bold;
        }
        li {
            list-style: none;
            div {
                margin-top: 10px;
            }
        }
        .form-group {
            display: flex;
            justify-content: center;
            align-items: center;
            .search-input {
                border-right: 0;
            }
            .search-icon {
                border-left: 0 solid transparent;
                background: transparent;
            }
            .icon {
                margin: 0 0.5em;
            }
        }
    }
}